<!DOCTYPE html>
<html lang="en">
<head>

    <title>Встречают по одежке</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .right-position-a{
    margin: 0px 0 0 650px;
}

    </style>
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Встречают по одежке</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav paginate flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Товары</a>
                        </li>

                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Корзина</a>
                        </li>

            
                          @if (User.Identity.IsAuthenticated){

                            <div class="btn-group  right-position-a">
                                <button type="button1" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Вы вошли как:@User.Identity.Name
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li >
                                        <a>
                                        <form  method="post" asp-controller="Account" asp-action="Logout">
                                            <input type="submit" class="submit-link" value="Выход" />
                                        </form>
                                        </a
                                    </li>
                               
                            </ul>
                            </div>
                        }
                        else {
                           <div class="btn-group  right-position-a">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Войти
                              </button>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="nav-link text-dark1" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark1" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                                    </li>
                              </ul>
                            </div>
                            }

                    </ul>
                </div>
            </div>
        </nav>
    <style>
        .right-position-a{
            margin: 0px 0 0 880px;
        }
</style>
    </header>
     <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Встречают по одежке - <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
